<div class="container-sidebar">

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click) = "selectMenu(1)" [ngClass]="{'caixa-menu-select': menuService.menuSelecionado == 1, '': menuService.menuSelecionado!=1}">
                dashboard
            </div>
        </div>
    </div>

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click) = "selectMenu(2)" [ngClass]="{'caixa-menu-select': menuService.menuSelecionado == 2, '': menuService.menuSelecionado!=2}">
                Sistema
            </div>
        </div>
    </div>

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click) = "selectMenu(3)" [ngClass]="{'caixa-menu-select': menuService.menuSelecionado == 3, '': menuService.menuSelecionado!=3}">
                Categoria
            </div>
        </div>
    </div>

    <div class="grupo-menu">
        <div class="container-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click) = "selectMenu(4)" [ngClass]="{'caixa-menu-select': menuService.menuSelecionado == 4, '': menuService.menuSelecionado!=4}">
                Despesa
            </div>
        </div>
    </div>

</div>
